doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    script(language='javascript',type='text/javascript',src='https://code.jquery.com/jquery-3.1.1.js')
    script(language='javascript',type='text/javascript',src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js')
    title i3 Logger
  body
    .header

    .main-content
      block content

    //.footer
    //  p © Umbrella Corp
